
@import url('https://fonts.googleapis.com/css?family=Gaegu');



*{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(ocean.png);
    background-size: cover;
}

h1{
font-family: 'Gaegu', cursive;
padding-left:60px;
}




.scene{
  
    height:70%;
    width:100%;
}


.ground{
    position: absolute;
    background-image: url(ground.png);
    background-size:cover;
    width:100%;
    height:290px;
    top:390px;
    overflow: hidden;
}

.object{
    position:absolute;
    height:900px;
    width:300px;
    top:-450px;
    left:400px;
    background-image: url(%D0%BC%D0%B0%D1%8F%D0%BA.png);
    background-size: cover;
}

.player{
    position: absolute;
    top:340px;
    
    left:800px;
    z-index: 100;
    height: 150px;
    width: 80px;
    
    transition:left 2s linear;
    background-image: url('перс.png');
    background-size: cover;
}

.pug{
   position: absolute;
    top:400px;
    
    left:150px;
    z-index: 99;
    height: 65px;
    width: 82px;
    
    transition:left 2s linear;
    transition-delay: 1s;
    background-image: url('pugStand.gif');
    background-size:cover;  
}

.love{
position: absolute;
top:350px;
z-index:101;
width:40px;
height: 40px;
    display: none;
transition:left 2s linear;
transition-delay: 1s;

background-image: url("hearth.png");
background-size: cover;
}

.key{
position: absolute;
top:430px;
left:170px;
z-index:98;
width:48px;
height: 20px;
background-image: url("key.png");
background-size: cover;
}

.keyIcon{
position: absolute;
top:55px;
left:150px;
z-index:98;
width:48px;
height: 20px;
    display:none;
background-image: url("key.png");
background-size: cover;
}

.book{
   position: absolute;
    top:420px;
    
    left:850px;
    z-index: 99;
    height: 32px;
    width: 60px;
    
    transition:left 2s linear;
    transition-delay: 1s;
    background-image: url('book.gif');
    background-size:cover;  
}


.bookScreen{
    position: absolute;
    z-index:101;
    width:620px;
    height: 400px;
    margin-top:5%;
    margin-left:10%;
    background-image: url("diary/diary.png");
    background-size: cover;
    display:none;
}


.stone{
    position:absolute;
    
     top:390px;
    
    left:750px;
    
    
    background-image: url("stone.png");
    background-size: cover;
    width:100px;
    height:60px;
    
}


.tree{
    position:absolute;
    
     top:150px;
    
    left:100px;
    
    
    background-image: url("tree.png");
    background-size: cover;
    width:132px;
    height:300px;
    
}



.bookIcon{
    position: absolute;
    z-index:101;
    width:55px;
    height:48px;
    top:40px;
    left:40px;
    background-image: url(diary/icon.png);
    background-size: cover;
    display: none;
}