 @font-face {
        font-family: "Duke-Fill";
        src: url("AA_Duke-Fill.ttf");
        }
      
      @font-face {
        font-family: "Vintage";
        src: url("vintage.otf");
        }
       
       @font-face {
        font-family: "Captain";
        src: url("American Captain.ttf");
        }
    
      .nav-item{
          font-family: "Duke-Fill";
          padding-right:80px;          
          font-size:25pt;
      }
       
       .navbar-toggler-icon i{
           font-size:25pt;
           color:white;
       }
      
      
      
      .nav-link{
          color:white !important;
          margin-top:5px !important;
      }
      
      .social-link:first-child{
          padding-right:30px;
      }
      
      .form-group {
        margin-bottom: .1rem;
        }
      
      .social-link{
          padding-right:80px;
      }
      
      
      
      .navbar-brand{
            margin: 0;
            
            padding-top: 15px;
            padding-left:20px;
            margin-left: 40px;
            background-color: white;
            color: #a48f82;
            
            height: 85px;
            width:85px;
            font-size:15pt;
            font-family: 'Duke-Fill';
      }
      

      
      .navbar{
          padding:0;
          min-height: 50px;
          background-color: #a48f82 !important;
      }
      
      
      .form-control-sm {
        height: 20px;
        
        padding: 0;
        margin-top: 7px;
    }
      
      .text { 
  margin-top:5px;
  padding: 0; 
  
}
       

.text label { 
  font-family: "Duke-Fill";
  color:white;
  margin: 0; 
  padding: 0; 
  display: block; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 6em; 
  text-align: right; 
  float: left; 
} 
      
      .text label{
        font-size:16pt;
        margin-top:-6px;
      }

.text input, 
.text textarea { 
  margin-top:10px;
  padding: 0; 
  border:0;
  border-radius:30px;
  display: block; 
  font-size: 100%;
  background-color:#e9e4e1;
} 
      
      .login input{
          padding-left:30px;
          padding-right:30px;
          margin-left:10px;
          background-color:white;
          color:#a48f82;
          font-size:15pt;
          line-height: 1.5rem;
          font-family: 'Duke-Fill';
          cursor: pointer;
      }
      
      .forget{
         font-family: 'Duke-Fill';
          color:white;
          font-size:16pt;
          margin-left:10px;
          margin-top:4px;
          cursor: pointer;
      }
      
      
      .hello{
          font-family: vintage;
          color:#433f3d;
          padding-top:50px;
          padding-right:0;
          padding-left:0;
          font-size:14pt;
          background-image:url(img/banner1.png);
          background-size:auto;
      }
      
      .hello li{
          margin-bottom:20px;
      }
      
      .btnCourse{
          margin-left:20%;
      }
      
      .btnCourse input{
        border-radius: 50px;
        font-size: 40pt !important;
        line-height: normal;
        margin-top:80px;      
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
        color: white;
        background-color: #a48f82;
        font-family: 'Duke-Fill';
        cursor: pointer;
        height:80px;
      }
       
       .heading{
            font-family: 'Duke-Fill';
            font-size:45pt;
            text-align: center;
            color:#8f8686;
            padding:50px;

       }
      
       
       .about{
           background-color:#f8f5f4;
       }
       
       .aboutText{
           font-family: 'vintage';
           color:#433f3d;
           font-size:13pt;
       }
       
    
      
       .lineUl{
               list-style: none;
                padding: 0;
                font-style: italic;
                background-color: black;
                left: -54.5%;
                position: relative;
                width: 156.2%;
                background-color:#a48f82;
                color:white;
       }
       
       .lineUl li{
           margin-left:35%;
       }
       
       .adv{
          font-family: 'Captain';
            font-size:40pt;
            line-height: .9em;
            margin-top:.8em;
            color:#8f8686;
          
       }
       
       body{
           padding-top:70px;
       }
       
       .row{
           margin-left:0;
           margin-right:0;
       }
       
       .services{
           font-family: 'Duke-Fill';    
       }
       
       .courseBlock{
           padding:0;
       }
       
       .courseBlock h2{
           text-align: center;
           color:#8f8686;
           font-size:40pt;
       }
       
       .courseItem{
           margin-bottom:10px;
           background-color:#d7cac2;
       }
       
       .courseItem h2{
           color:white;
       }
       
       .courseBlock .selected{
           background-color:white; 
       }
       
       .courseBlock .selected h2{
             color:#8f8686;
       }
    
       
       .courseInfo h2{
           font-size:40pt;
           color: #8f8686;
           
       }
       
       .courseInfo .headP{
           font-size:19pt;
           line-height: 0.9em;
           color:#8f8686;
           margin-top:12px;
           padding-left:33px;
       }
       
        .courseInfo .price h2{
            font-size:25pt;
            float:right;
            font-family: 'Captain';
            margin:0;
    }
       
       .pr h2{
           color: #433f3d;
           text-align: center;
           font-size:15pt;
           font-weight: 700;
       }
       
       .pr img{
           padding:30px;
       }
       
       .pr p{
           text-align: center;
           font-size: 11pt;
       }
       
       .form-control{
           font-family:'Duke-Fill';
           font-size:30pt;
           margin-bottom:10px;
           padding:30px;
           border:none;
           text-align: center;
           border-radius:50px;
       }
       
       .form-control::placeholder{
       color:#b4afaf; 
       }
       
       .sel{
           padding: 7px;
            font-family: 'Duke-Fill';
            font-size: 30pt;
            margin-bottom: 10px;
            /* padding: 30px; */
            border: none;
            text-align: center;
            border-radius: 50px;
            width: 100%;
           text-align-last:center;
           
       }
       
       
        .buy{
           background-color:#a48f82 !important;
           color:white;
           cursor: pointer;
       }
       
       footer{
           background-color:white;
           font-family: 'Duke-Fill';
           padding-top:20px;
           padding-bottom:40px;
           font-size:16pt;
           color:#8f8686;
       }
       
       footer .brand{
            margin-left:40px;
           width:30%;
           float:left;
       }
       
       .footer-menu{
           float:right;
       }
       
       footer ul{
           list-style: none;
           font-family: 'Duke-Fill';
       }
       
       footer ul li{
           float:left;
           padding-right:30px;
       }